body {
	background-color: #ccf;
	text-align: center;
	padding: 0;
	margin: 0;
	border: 0;
	font-family: sans-serif;
}
#all {
	background-color: #fff;
	margin: 0 auto;
	width: 800px;
	border-left: 1px solid #9cf;
	border-right: 1px solid #9cf;
	padding: 0;
	text-align: left;
}
#logo {
	background-color: #339;
	color: #fff;
	font-size: 40px;
	padding: 300px 50px 50px 50px;

}
#logo span {
	color: #ccc;
	font-size: 25px;
}
#content {
	padding: 50px;
}	
