/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Top Header
:: Picture Header
:: Header Navigation
:: Main Body
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
@font-face {
  font-family: "Arvo-Regular";
  src: url('fonts/Arvo-Regular.ttf');
}

@font-face {
  font-family: "Century Gothic";
  src: url('fonts/CenturyGothic');
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('fonts/HelveticaNeue.dfont');
}

html, body {
  height: 100%;
}

h1, h2 {
  font-family: "Arvo-Regular", Times New Roman, serif;
}

h2 {
  font-size: 1.8em;
}

h1.white, h2.white {
  color: white;
  font-weight: 200;
  margin: 0; 
}

/* -----------------------------------------
   Top Header
----------------------------------------- */
.top-header {
  background: #333;
  width: 100%;
  height: 110px;
  padding: 15px 0 0;
  text-align: center;
}

#tbp-title {
  color: #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.9em;
  font-weight: 200;
}

#tbp-title em {
  color: #2cbcad;
  font-style: normal;
}

/* -----------------------------------------
   Picture Header
----------------------------------------- */
.picture-header {
  background: url('images/header-photo.png') no-repeat;
  background-size: cover;
  height: 45%;
  margin-top: 10px;
  min-height: 300px;
  text-align: center;
}

.picture-header h1, .picture-header h2 {
  text-shadow: 0 0 1em #333,0 0 0.6em #333;
}

.picture-header h1 {
  margin-top: 20px;
}

.picture-header h2 {
  font-weight: 200;
}

#date-title {
  background: #2cbcad;
  color: white;
  display: inline-block;
  font-family: "Century Gothic", Century Gothic, Helvetica, Arial, sans-serif;
  font-size: 5.5em;
  font-weight: 200;
  margin-top: 4%;
  padding: 10px 20px 20px;
}
/* -----------------------------------------
   Header Navigation
----------------------------------------- */
.nav-header {
  background: #333;
  text-align: center;
  -moz-box-shadow: 3px -2px 4px #000;
  -webkit-box-shadow: 3px -2px 4px #000;
  box-shadow: 3px -2px 4px #000;
}

.nav-header .main-nav {
  color: white;
  margin: 0 auto;
}

.nav-header .main-nav li {
  border-left: 1px solid #575757;
  cursor: pointer;
  display: inline-block;
  font-family: "Arvo-Regular", Times New Roman, serif;
  font-size: 1.5em;
  list-style: none;
  margin: 0;
  padding: 5px 40px;
}

.nav-header .main-nav li.last {
  border-right: 1px solid #575757;
}

.nav-header .main-nav a {
  color: white;
}

.nav-header .main-nav a:hover {
  color: #2cbcad;
}

/* -----------------------------------------
   Main Body
----------------------------------------- */
.main-body {
  margin-top: 10px;
}

.about-tile {
  background: #e9e9e9;
  text-align: center;
  padding-top: 15px;
  width: 36%;
}

.about-tile h1 {
  text-align: center;
  margin: 0;
}

.about-tile h2 {
  font-size: 1.4em;
  margin-top: 0;
  text-align: center;
}

.center-tile {
  margin-left: 10px;
  width: 26.5%;
}

.center-tile .student-tile {
  background: #2cbcad;
  height: 150px;
  margin-bottom: 10px;
  margin-right: 8px;
  width: 150px;
}

.center-tile .employer-tile {
  background: #f3a610;
  height: 150px;
  margin-bottom: 10px;
  width: 150px;
}

h1.green {
  color: #2cbcad;
}

h1.orange {
  color: #f3a610;
}

h1.fade {
  opacity: 0.35;
}

.about-tile-image {
  background-size: cover;
  display: inline-block;
  height: 130px;
  margin-top: 20px;
  width: 300px;
}

#student-image {
  background: url('images/student-side.png') no-repeat;
}

#employer-image {
  background: url('images/employer-side.png') no-repeat;
}